* {
    font-family: Arial, Helvetica, sans-serif;
}

.gallery{
    max-width: 700px;
    width: 100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-block: 1rem;
}

.main h1, .main h3{
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.main h3{
    text-transform: lowercase;
    font-style: oblique;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

main h1{
    margin: 0;
    padding: 0;
}

.section{
    max-width: 700px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-block: 1rem;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 1rem; 
    object-fit: cover;
}

.header{
    max-width: 700px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin-block: 1rem;
    justify-items: center;
    align-items: center;
}
.header h3{
    font-size: 14px;
}

.primary,
.secondary{
    text-decoration: none;
    border-radius: 1rem;
    margin: auto;
    padding-inline: 1.75rem;
    padding-block: 0.5rem;
    border-style: solid;
    font-size: 14px;
}

.primary{
    color: black;
}

.secondary{
    background-color: black;
    color: white;
    border-style: solid;
    border-color: black;
}

p{
    font-size: 14px;
    line-height: 1.5;
    
}

h1{
    font-size: 24px;
}

.imgbox{
    width: 100%;
    max-width: 300px;
    height: 200px;
    max-height: 300px;
    border-radius: 1rem; 
    background: 50% / cover no-repeat;
}

.imgbox h3{
    color: white;
    padding-top: 150px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    padding-left: 1rem
}

.kep1{
    background-image: url(228.jpg);
}

.kep2{
    background-image: url(229.jpg);
}

.kep3{
    background-image: url(231.jpg);
}